  <div class="col-lg-9 col-md-9 col-sm-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-center">
          <h3>New Blog Post</h3>
          <% if @post && @post.errors.any? %>
            <h3><%= pluralize(@post.errors.count, "error") %> stopped this post from being added:</h3>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          <% end %>
          <%= form_tag "/posts/#{@post.id}", method: :patch do %>
            <input type="text" name="title" class="form-control" value="<%= @post.title %>">
            <!-- <input hidden name="user_id" value="<%= current_user.id %>" type="text"> -->
            <br>
            <textarea name="content" class="form-control" rows="20"><%= @post.content %></textarea>
            <br>
            <input type="text" name="image" class="form-control" placeholder="Place Umage Url Here" value="<%= @post.post_images.first.url %>">
            <input type="text" name="img_description" class="form-control" placeholder="Image Description" value="<%= @post.post_images.first.description %>">
            <button type="submit" class="btn btn-primary btn-lg pull-right">Publish</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>