  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h3>Popular Posts</h3>
      </div>
      <div class="panel-body">
        <% @popular_posts.each do |post| %>
          <h3><a href="/posts/<%= post.id %>"><%= post.title[0..25] %>...</a></h3>
          <p class="pull-right"><%= post.created_at.strftime("%A, %b %d") %></p>
          <p><%= post.user.name %></p>
          <!-- <p><%# post.content[0..50] %></p> -->
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <h3>Recent Posts</h3>
      </div>
      <div class="panel-body">
        <% @recent_posts.each do |post| %>
          <h3><a href="/posts/<%= post.id %>"><%= post.title[0..20] %>...</a></h3>
          <p class="pull-right"><%= post.created_at.strftime("%A, %b %d") %></p>
          <p><%= post.user.name %></p>
          <!-- <p><%# post.content[0..50] %></p> -->
        <% end %>
      </div>
    </div>
  </div>
