<div class="row">
  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="panel panel-primary">
      <div class="panel-body">
        
        <h2>Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <em class="fa fa-user fa-fw"></em>
              </span>
            <%# f.label :name %>
              <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name' %>
            </div>
          </div>

          <div class="field form-group">
            <%# f.label :bio %>
            <div class="input-group">
              <span class="input-group-addon">
                <em class="fa fa-align-justify fa-fw"></em>
              </span>
              <%= f.text_area :bio, autofocus: true, rows: 10, class: 'form-control', placeholder: 'Bio' %>
            </div>
          </div>

          <div class="field form-group">
            <div class="input-group">
              <span class="input-group-addon">
                  <em class="fa fa-envelope fa-fw"></em>
              </span>
            <%# f.label :email %>
              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
            </div>
          </div>

          <div class="field form-group">
            <div class="input-group">
              <span class="input-group-addon">
                  <em class="fa fa-key fa-fw"></em>
              </span>
            <%# f.label :password %>
            <%# if @minimum_password_length %>
              <!-- <em>(<%# @minimum_password_length %> characters minimum)</em> -->
            <%# end %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
            </div>
          </div>

          <div class="field form-group">
            <div class="input-group">
              <span class="input-group-addon">
                  <em class="fa fa-key fa-fw"></em>
              </span>
            <%# f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password Confirmation' %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>

